@media screen and (max-width: 858px){
     .checkbtn{
        display: block;
     }
     ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: black;
        /* to show the 3 bars we used top 60px */
        top: 60px;        
        left: -100%;
        text-align: center;
        transition: all .5s;
        
        
     }
     nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
     }

     #check:checked ~ ul{
        left: 0;
     }

     .footer{
        position: fixed;
        
     }
     .cards{
      display: flex;
      gap: 40px;
      margin-left: 18vw;
      margin-top: 8vh;
  }
  .card1{
   width: 270px;
   height: 240px;
}
.card2{
   width: 270px;
   height: 240px;
} 
.social-icon{
   position: relative;
   top: 0;
   left: auto;
}

.goal{
   width: 50%;
   height: 40%;
}

.goal img{
   width: 100%;
   height: 65%;
 
  }

}

@media (max-width :952px){
    label.logo{
        font-size: 20px;
        padding-left: 15px;
    }
    nav ul li a{
        font-size: 15px;
    }   
    .coder{
      width: 30%;
      height: 60%;
    }
}

@media (max-width :996px){
   .cards{
      margin-left: 18vw;
      margin-top: 8vh;
  }
}


@media (max-width : 768px) {
   .cards{
      display: block;
      /* margin: 50px 220px ; */
      /* margin-left: 9vw;
      margin-top: 8vh; */
  }
  .card1{
   margin-bottom: 20px;
   margin-left: 40px ;
  }
  .card2{
   margin-bottom: 20px;
   margin-left: 40px ;
  }
  .img button{
   width: 80%;
   height: 60px;
   margin: 1px 60px;
  }
  

}

@media (max-width : 480px){
   
   .card1{
      width: 200px;
      height: 170px;
      margin-bottom: 50px;
      margin-left: 30px;
   }
   .card2{
      width: 200px;
      height: 170px;
      margin-left: 30px;
   } 
   .card1 p{
      font-size: 20px;
   }
   .card2 p{
      font-size: 20px;
   }
   .img button{
      width: 80%;
      height: 60px;
      margin: 1px 40px;
   }
   .img{
      width: 350px;
      height: 450px;
      text-align: center;
  }
   .img img{
      margin-left: 10px;
   }

   .about-vec{
      width: 5px;
      height: 60%;
   }
   .about-head{
      font-size: 10px;
   }
   .coder{
      width: 45%;
      height: 40%;
   }
   .coder h3{
      font-size: .9rem;
   }
   .coder p{
      font-size: .7em;
   }
   .coder img{
      height: 80%;
   }
   .icon{
      font-size: xx-small;
   }
   
}

@media (min-width : 952px){
      .container h1{
         font-size: 50px;
      }
      .container h2{
         font-size: 30px;
      }

}

@media (max-width : 652px){
   .about-head{
      font-size: 25px;
   }
   .about-vec{
      width: 50%;
      height: 60%;
   }
   
   
}
@media (max-width : 652px) and (min-width :480px){
.coder{
      width: 40%;
      height: 50%;

   }
   .coder h3{
      font-size: 1.5rem;
   }
   .coder p{
      font-size: 0.9em;
   }
   .icon{
      font-size : x-small; 
   }
   .coder img{
      height: 75%;
   }
}


